# node_modules
node_modules/

# Περιβαλλοντικά αρχεία
.env
.env.local

# Expo
.expo/
.expo-shared/
dist/
web-build/

# iOS / Android
android/
ios/
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Mac
.DS_Store

# Metro bundler
.metro-health-check*

# Typescript
*.tsbuildinfo
